<%layout("/layouts/boilerPlate") %>
<div class="row">
  <div class="col-8 offset-2">
    <br><br>
  <h3>Create New Listing</h3>
  <form method="post" action="/listings">
    <div class="mb-3">
      <label for="title" class="form-label" >Title</label>
     <input type="text" class="form-control" name="listing[title]" placeholder="enter title">
    </div>
    
    <div class="mb-3">
      <label for="title" class="form-label" >Description</label>
      <textarea class="form-control" type="text" name="listing[description]" placeholder="enter decription"></textarea>
    </div>
    
    <div class="mb-3">
      <label for="title" class="form-label" >Filename</label>
      <input class="form-control" type="text" name="listing[image.filename]" placeholder="enter image name">
    </div>
    
    <div class="mb-3">
      <label for="title" class="form-label" >Image Url</label>
      <input class="form-control" name="listing[image.url]" placeholder="enter image url">
    </div>
    
    <div class="row">
      <div class="mb-3 col-md-4">
        <label for="title" class="form-label" >Price</label>
        <input class="form-control" name="listing[price]" placeholder="enter price">
      </div>
      
      
      <div class="mb-3 col-md-8">
        <label for="title" class="form-label" >Location</label>
        <input class="form-control" type="text" name="listing[location]" placeholder="enter location">
      </div>
    </div>
    
    <div class="mb-3">
      <label for="title" class="form-label" >Country</label>
      <input class="form-control" type="text" name="listing[country]" placeholder="enter country">
    </div>
    <br>
    <button class="btn btn-dark add-btn">Add</button>
    <br><br>
  </form>
</div>
</div>
